# Maven build könyvtár kizárása
/target/

# Lokális beállítások, amik nem tartoznak a repo-ba
.idea/
*.iml
.vscode/
.DS_Store

# Build eszközök által generált fájlok (ha Gradle lenne)
build/

# Saját, érzékeny fájl
db.properties